.cart {
  display: flex;
  justify-content: space-between;
}

.cart-one-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 234px; /* Keeps footer at bottom when one item in cart. */
}

.no-items {
  padding-bottom: 472px; /* Keeps footer at bottom when no items in cart. */
}

.cart-image img {
  max-width: 10rem;
  max-height: 10rem;
}

.cart-action {
  padding-right: 1rem;
  justify-content: flex-end;
}

.cart-item-info ul {
  padding-left: 0px;
  padding-bottom: 1rem;
}

.cart-button-plus {
  background: transparent;
  border: 1px solid rgb(28,27,27);
  padding: 2px 10px;
}

.cart-button-minus {
  background: transparent;
  border: 1px solid rgb(28,27,27);
  padding: 2px 11px;
}

.cart-item-quantity {
  border-bottom: 1px solid rgb(28,27,27);
}

.checkout-button {
  background: transparent;
  border: 1px solid rgb(28,27,27);
  padding: 2px 10px;
  justify-content: center;
}

.checkout-button-disabled {
  background: transparent;
  border: 1px solid rgb(28,27,27);
  padding: 2px 10px;
  justify-content: center;
  pointer-events: none;
}

.checkout-button a {
  color: rgb(28,27,27);
}

.checkout-button-disabled a {
  color: rgb(28,27,27);
}

@media screen and (max-width: 768px) {
  .cart-list {
    padding-left: 1.5rem;
  }
}
