.footer-container {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 12px;
}

.footer-newsletter {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff
}

.footer-heading {
  font-size: 1.5rem;
}

.footer-subheading {
  font-size: 1.2rem;
}

.footer-input {
  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
  padding: 8px 20px;
  text-decoration: #fff;
}

.footer-input, select, textarea {
  /* Makes the text input and text cursor white */
  color: #fff;
}

.footer-input::placeholder {
  color: #fff;
}

.subscribe-button {
  background-color: transparent;
  padding: 8px 20px;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease;
}

.subscribe-button:hover {
  background-color: #3b3b3b;
  transition: all 0.2s ease;
}

.lower-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}

.social-icon {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}