/* input {
  border-style: 2px solid rgb(224, 202, 202);
} */

.footer-container {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 12px;
}

.footer-newsletter {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff
}

.footer-heading {
  font-size: 1.5rem;
}

.footer-subheading {
  font-size: 1.2rem;
}

.footer-input {
  background-color: transparent;
  /* border-color: rgb(224, 202, 202); */
  border-style: 2px solid #fff;
  outline: none;
  padding: 8px 20px
}

.subscribe-button {
  background-color: transparent;
  padding: 8px 20px;
  border-style: 2px solid #fff;
  color: #fff;
}

.footer-input::placeholder {
  color: rgb(224, 202, 202);
}

.lower-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}

.social-icon {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}